/*Outer containers*/
html
{
    margin: 0;
    background-color: rgb(244, 243, 243);
    width:100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body
{
    position: relative;
    min-height: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    margin: 0;
    width:100%;
}

#main-container
{
   
    height: 100%;
    width: 100%;
    display:block;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    width:90%;
    background-color: rgb(237, 241, 243);
}

.borders
{
    border-right: 2px solid rgb(153, 187, 199);
    border-left: 2px solid rgb(153, 187, 199);
}

/*User personal information*/
#profile-info
{
    background-color: rgb(237, 241, 243);
    width:100%;
    height: 19%;
}

#picture
{
    height: 100%;
    width:30%;
    float: left;
}

#name
{
    margin-right: 3vw;
    text-align: right;
    font-size: 10vh;
    color: rgb(108, 107, 107);
    height: 100%;
    width:65%;
    float: right;
}


/*Feed toggles*/

#toggle-feed
{
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(153, 187, 199);
    /* border-bottom: 2px solid white; */

    height: 6%;
    width:100%;
}

#personal
{
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    color: rgb(108, 107, 107);
    text-decoration: underline;

    height: 100%;
    width:100%;
    font-size: 4vh;

    padding-right: 1vw;
    
}

#personal:hover
{
    text-decoration:underline;
    cursor: pointer;
}

#feed
{
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: rgb(108, 107, 107);
    border: none;

    height: 100%;
    width:100%;
    font-size: 4vh;
    opacity: .5;

    padding-left: 1vw;
}

#feed:hover
{
    text-decoration: underline;
    cursor: pointer;
}

/* .toggle
{

} */
/*Recipe feed*/
#display-recipes
{
    min-height: 100%;
    width:100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5%;

    background-color: rgb(246, 249, 249);
}



.recipe
{
    color: rgb(108, 107, 107);
    text-align: center;
    border-radius: 2vw;
    margin-top: 5%;
    /* background-color:red; */
    height: 40vh;
    width: 28vw;
}

.recipe img
{
    border:1px solid rgb(153, 187, 199);
    border-radius: 2vw;
    height: 40vh;
    width: 28vw;
}

.recipe_button
{
    padding:0;
   
    border-radius: 2vw;
    height: 40vh;
    width: 28vw;
    border: none;
    cursor: pointer;
}

.recipe_button:hover
{
    opacity: .5;
}

/*Displayed when a recipe is clicked*/

.popup_recipe
{
    top: 10%;
    width: 96%;
    height: 80%;
    border-radius: 2vw;
    /* margin-top: -9em;
    margin-left: -15em; */
    border: 5px solid rgb(153, 187, 199);
    background-color: rgb(237, 241, 243);
    position: fixed;

    overflow: hidden;
    z-index: 3;
}

/* .popup_recipe img
{
    border-radius: 1.5vw;
   
    
} */

/*left side of popup styles*/
.leftSide
{
    height: 100%;
    width:30%;
    float: left;

    border-right: 1px solid rgb(153, 187, 199);
}

.photo
{
    height: 50%;
    width:100%;
}
.photo img
{

    height: 100%;
    width:100%;
}


.description
{
    color: rgb(108, 107, 107);
    margin-top: 10vh;
    margin-left: 2vw;
    height: 50%;
    width: 100%;
}

.dishname
{
    color: rgb(108, 107, 107);
    font-size: 2vh;
}

.chef
{
    color: rgb(108, 107, 107);
    margin-top: 5vh;
    font-size: 3vh;
}

.serving
{
    color: rgb(108, 107, 107);
    font-size: 2vh;
}




/*right side of popup styles*/
.rightSide
{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width:69.6%;
    float: right;

    border-radius: 1.5vw;
}


.direct_container
{
    border-top: 5px solid rgb(153, 187, 199);
    margin-top: 1vh;

    height: 100%;
    width: 50%;
    float: right;

}


.directions
{
    color: rgb(108, 107, 107);
    font-size: 1vw;
}

.directions_header
{
    color: rgb(108, 107, 107);
    font-weight: bold;
    font-size: 2vw;
}

.ingre_container
{
    border-top: 5px solid rgb(153, 187, 199);
    margin-top: 1vh;
    margin-left: 2vw;
    height: 100%;
    width: 40%;
    float: left;
}

.ingredients
{
    color: rgb(108, 107, 107);
    font-size: 1vw;
}

.ingredients_header
{
    color: rgb(108, 107, 107);
    font-weight: bold;
    font-size: 2vw;
}