*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.left{
    background-color: whitesmoke;
    width: 500px;
    padding: 100px 50px 25px 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Log In / Sign Up */
.left .log{
    flex: 1;
}
.left .log h1{
    font-size: 80px;
    cursor: default;
}

/* Username and Password */
.left .form{
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left .form h3{
    font-size: 25px;
    cursor: default;
}
.left .form input{
    font-family: 'Poppins', sans-serif;
    background-color: steelblue;
    color: white;
    padding: 10px;
    height: 40px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    transition: all .25s;
}
.left .form input:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px black;
}


.left .form .submit{
    display: flex;
    justify-content: right;
    padding-right: 100px;
}
.left .form .submit button{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 45px;
    width: 75px;
    border-radius: 15px;
    border: 1px solid black;
    transition: all .25s;
    cursor: pointer;
}
.left .form .submit button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px black;
}

/* Switch LogIn/SignUp */
.left .switch{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.left .switch p{
    border-bottom: 1px solid black;
    width: fit-content;
    cursor: default;
}
.left .switch h4{
    cursor: pointer;
    color: steelblue;
}

.right{
    background-color: whitesmoke;
    flex: 1;
    overflow: hidden;
}

input.error{
    background-color: crimson;
    animation: shake 0.2s ease-in-out 0s 2;  
}
@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}